

#aboutMe, #education, #CollegeResults, #workExp, header,#projects,#SkillDiv,#tech{
  margin-left: 	10%;
  padding-top:	5%;
  padding-right: 5%;
}

header {
  color:			blue;
}

header p{
  color:			black;
  padding:		1em 10em 0em 10em;
}

.My-buttons{
  padding-top: 5em;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#welcomeButtons {
float:center;
  
}



.my-Img{
  float:center;
  height: 20em;
  width: 20em;
  border: 0.5em solid whitesmoke;
  margin-left: auto;
	margin-right: auto;
  display: block;

}


#buttons{
 
  padding: 2em;
  
}


#ImgDiv{
  padding-top:2em;
  
}




#searchBar{
  margin-right: 500em;
}

.jumbotron {
  color: white;
  background-color:grey;    
  width:100%;
}




#tech{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}






.carousel .item img {
   
  width: 100%;
  height: 23em;
}

.myDiv{
  size: 0ch;
}
.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}

#CollegeResults{
  display:none;
}

#Olm{
  margin-right: 120%;
  width:75%;
  height:15em;
}

#SocailMedia{
  margin:0.5em
}

.Itt{
  margin:1em;
}

.OlmDiv{
  margin:1em;
}

#IttLogo{
  width:100%;
  height:15em;
  
  
}









.aboutMeIcon{
  font-size:30px;
  color:black;
  
}
  
.hidAboutMeDiv{
  display:none;
}

.Show{
  margin-left:5%;
  color: white;
  background: black;
}

.Show:hover{
  margin-left:5%;
  color: black;
  background: white;
}

.moreAboutMe{
  color: white;
  background: black;
}

.moreAboutMe:hover{
  color: black;
  background: white;
}


   
 .tab > li.active > a,
   
 .tab > li.active > a:focus,
   
 .tab > li.active > a:hover{
   
  background-color: black !important;
   
  color:#fff;
   
  border:2px solid #3F515F;
   
  }

  .col-container {
    display: table;
    display: flex;
    width: 100%;
  }
  .col {
    display: table-cell;
    border: 0.5em solid whitesmoke;
    
    padding: 16px;
  }

  #DAFMLOGO{
    height: 15em;
    width:100%;
    border: 0.09em solid black;  
  }

  #UnipharLogo{
    height: 15em;
    width:100%; 
    border: 0.09em solid black;   
  }

  .ReadMoreUniphar{
    background-color: black;
    color:white;
    margin-right: 10%;
  }

  .ReadMoreUniphar:hover{
    background-color: white;
    color:black;
    
  }

  .ReadMoreDAFM{
    background-color: black;
    color:white;
  }

  .ReadMoreDAFM:hover{
    background-color: white;
    color:black;
  }

  .UnipharDes{
    display:none;
  }

  .DAFMDes{
    display:none;
  }
  


  .panel > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;

}
.learnMoreBtn{
  background-color: black;
  color:white;
  
}

.learnMoreBtn:hover{
  background-color: white;
  color:black;
}

.tick{
  color:rgb(8, 182, 23);
}
.Ongoing{
  color:orange;
}
.skills{
  background-color: black;
}

.progress{
 
  margin-right: 20%;
}




.SkillsToBeHidden{
  display:none;
}


.SeeMoreSkills{
 
  background-color: black;
  color:white;
}

.SeeMoreSkills:hover{
  
  background-color: white;
  color:black;
}


.footer{
  margin-top: 1em;
}



.modal.and.carousel {
  position: fixed;
}